@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-border-animation {
  position: relative;
  border-radius: 12px;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.custom-border-animation::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: inherit;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(72, 187, 255, 0.5),
    rgba(255, 255, 255, 0.2)
  );
  z-index: -1;
  animation: pulse-glow 5s infinite ease-in-out;
  filter: blur(8px);
}

@keyframes pulse-glow {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

a {
  transition: transform 0.3s ease-in-out;
}


.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

